// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Exo 2',sans-serif;} // font header
.fs {font-family: 'Kalam',sans-serif;} // font special
.fi {font-family: 'viki-icons',sans-serif;} // font icon

// body
@bb: #f4f2e9; // body background

// colors
@red: #dc2300;
@green: #799000;
@cp: #5c5c5c; // color primary
@cl: @red; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;