#page {
	padding: 77px 0 20px;
	min-width: @content-width;
	background: url(../images/bg/02.png) no-repeat top;
	background-size: 100% 545px;
}
#page-header {
	.logo {
		a {
			display: block;
			width: 528px;
			height: 93px;
			float: left;
			margin: 1px 0 0 -3px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
	.slogan {
		.fs;
		position: relative;
		z-index: 1;
		float: right;
		text-align: center;
		color: #fff;
		width: 285px;
		height: 284px;
		padding: 102px 70px 0;
		margin: -41px -52px -91px 0;
		font-size: 31px;
		line-height: 1.2;
		background: url(../images/bg/03.png) no-repeat;
	}
}
#wrapper {
	.border-radius(40px);
	.box-shadow(0 0 20px fade(#000,10%));
	.clearfix;
	position: relative;
	padding: 60px 70px;
	margin: 0 0 45px;
	background: #fff;
	&:before,&:after{
		position: absolute;
		content: '';
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 14px;
		background: url(../images/bg/07.png) no-repeat;
	}
	&:after {
		bottom: auto;
		top: 100%;
		background-position: right bottom;
	}
}
#page-footer {
	.clearfix;
	clear: both;
	padding: 20px 0;
	border-top: 2px solid #d9d9d9;
	.copy {
		float: left;
		text-transform: uppercase;
		font-size: 12px;
		margin: 2px 0;
	}
	.xart {
		float: right;
		margin: 24px 0;
		font-size: 11px;
		text-transform: uppercase;
		a {
			text-decoration: none;
			color: @cp;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: 0 2px 0 10px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(10px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @green;
		color: #fff;
		text-shadow: -1px -1px 0 fade(#000,30%);
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e801';
			font-size: 20px;
		}
		&:hover{
			background: @red;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}