@media screen and (min-width: 1200px) {
	
}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}